.container-cart {
    width: 80%;
    display: flex;
    margin: 0%;
    flex-wrap: wrap;
    justify-content: center;
}

.ordenar {
    list-style: none;
    margin: 0.5rem;
    width: min(45%, 500px);
    
}

.ordenar-container {
    display: flex;
    justify-content: center;
}

.container-Cart-venta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.color{
    color: azure;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}