.encabezado {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.NavBarLista {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.NavBarLista li {
    text-decoration: none;
    color: crimson;
}

.active {
    color: purple;
}

.inactive {
    color: red;
}

