.container {
    width: 80%;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.ordenar {
    list-style: none;
    margin: 0.5rem;
    width: min(45%, 500px);
}

.ordenar-container {
    display: flex;
    justify-content: center;
}